html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

body { /* Or any color you want */
  margin: 0; /* Optional: removes default margin */
  padding: 0; /* Optional: removes default padding */
}

.App {
  text-align: center;
  font-family: dm-sans, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/

hr {
  border: 0;
  height: 1px;
  background-color: transparent; /* Add this */;
  margin: 0;
  padding: 0;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-sizing: border-box;
  z-index: 0;
  pointer-events: none;
}

.section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(0, 3, 24, 1);
  position: relative;
  z-index: 1;
}

.section p {
  max-width: calc(72vw - 40px);
  line-height: 1.5;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.nav-links li {
  float: left;
}

.main-nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.main-nav li a:hover {
  background-color: #111;
}

.main-nav .active {
  background-color: #04AA6D;
}

.stars-bg {
  position: absolute;
  inset: 0;         /* shorthand for top: 0; right: 0; bottom: 0; left: 0; */
  z-index: 0;
}

.stats-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.stats-section p {
  max-width: calc(80vw - 40px);
  line-height: 1.5;
}

.stats-section a {
  color: #F84982;
}

.footer {
  background-color: rgba(0, 3, 24, 1);
  padding: 20px;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
}